# ignore ht.access
ht.access

# ignore all . files
*/.*

# ignore all files and folders in root
/*

# except .gitignore and .gitify
!.gitignore
!.gitify

# include gulpfile and package manager files
!package.json
!gulpfile.js

# include /asset and /_data
!/assets/
!/_data/

# dont store mail settings
/_data/system_settings/mail*.yaml